.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Box {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid white;
}

.Hook {
  border-radius: 10px;
}

#PostList {
  list-style: none;
  padding-inline-start: 0;
}

.Post button {
  position: relative;
  text-align: left;
  background-color: #12324d;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.3rem auto;
  width: calc(100% - 5rem);
}

.Post button:hover {
  opacity: 0.7;
  border: 2px solid white;
}

.Post button:active {
  transform: scale(0.99);
}

#CurrentPost {
  border: 4px solid green;
  margin: 0 1rem;
  min-height: 300px;
  padding-top: 0.5rem;
}

#CurrentPost p {
  padding: 2rem;
}

#Links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: lighter;
}

#Links a.Active {
  font-weight: normal;
}

#Links a:hover {
  font-weight: normal;
}

#Links a::before {
  content: "< ";
  font-weight: bolder;
}

#Links a:hover::before,
:hover::after {
  color: yellowgreen;
}

#Links a::after {
  content: " >";
  font-weight: bolder;
}

#Links {
  display: flex;
  justify-content: space-evenly;
  max-width: fit-content;
  margin: 1rem auto 2rem auto;
  padding-left: 0;
}

@media (max-width: 1660px) {
  #Links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
  }

  #Links a::before {
    content: ">";
    padding-right: 0.5rem;
  }

  #Links a::after {
    display: none;
  }
}

@media (max-width: 1560px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1460px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1260px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1120px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 910px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 715px) {
  #Links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 540px) {
  #Links {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 370px) {
  #Links {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
